click==8.0.3
colorama==0.4.4
comtypes==1.1.10
docx2pdf==0.1.8
fire==0.4.0
Flask==2.0.2
fonttools==4.28.5
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
numpy==1.21.5
opencv-python==4.5.4.60
pdf2docx==0.5.2
PyMuPDF==1.19.3
python-docx==0.8.11
pywin32==303
six==1.16.0
termcolor==1.1.0
tqdm==4.62.3
Werkzeug==2.0.2
